.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card-subtitle{
	color: #42C8FF;
}


.chip{
	background-color: #2E65E8;
	margin-left: 30vw;
}

.chip ion-label{
	color: #fffffb;
}

.grid_buttons{
	border-top-style: solid;
	border-top-width: 1px;
}

.button{
	width: 90%;
}
